body {
    display: flex;
    flex-direction: column;
    background-color: #181b19;
}

.header {
    height: 10em;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;    
    color: aliceblue;
  }

.content {
    height: 40em;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    background-color: #c3eed6;
  }
  
  .footer {
    height: 5em;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    background-color: #c3eed6;
  }

  .player {
    align-items: center;
    padding: 2rem;
    margin: 10px;

  }
  